
body {
  margin: 0; 
  padding: 0;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box; 
  color: white; 
}

.app {
  min-height: 100vh;
  width: 100%;
  
  background: linear-gradient(
    to bottom, 
    #1F2035 0%,      
    #3C2846 45%,    
    #21282F 100%     
  );
  display: flex;
}